.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.navbar {
  background-color: hsla(0, 95%, 50%, 0.966); /* Rojo (#ff0000) como color de fondo */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.logo {
  max-width: 50px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción original de la imagen */
}
.nav-link {
  color: #fff; /* Color de enlaces en el menú */
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  margin-right: 20px; /* Espaciado entre enlaces */
}

/* Agrega estilos adicionales según tus preferencias */

/* Estilos para el contenido de la página de productos */
.page-content {
  padding: 20px; /* Espaciado interior del contenido */
  background-color: #f4f4f4; /* Color de fondo del contenido */
  border-radius: 5px; /* Bordes redondeados */
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

